<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <context:component-scan base-package="com.qphone.service.impl"></context:component-scan>
    <!-- 定义服务提供者在dubbo中的名称 -->
    <dubbo:application name="DaySSMService"/>
    <!--配置dubbo协议，dubbo，RMI,hession  -->
    <dubbo:protocol name="dubbo" port="20881"/>
    <!-- 完成dubbo的注册 -->
    <dubbo:registry address="zookeeper://10.12.153.68:2181"/>
    <!--将接口暴露给消费方  -->
    <!--<dubbo:service interface="com.qphone.service.CartService" ref="cartService"/>-->

</beans>