<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/res/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/res/css/admin/admin_home.css"/>
    <link rel="stylesheet" href="/res/css/admin/admin_main.css"/>
    <link rel="stylesheet" href="/res/css/admin/admin_login.css"/>
    <style rel="stylesheet">
        .details_property_list {

        }

        .details_property_list > li {
            list-style: none;
            padding: 5px 0;
        }

        div.br {
            height: 20px;
        }
    </style>
</head>
<body>
<form th:action="@{/insertCategory}" method="post" enctype="multipart/form-data">
    <div class="details_div_first">
        <input type="hidden" value="${category.categoryId}" id="details_category_id"/>
        <div class="frm_div">
            <label class="frm_label text_info" id="lbl_category_id">分类编号</label>
            <input class="details_value" id="span_category_id"
                   value="系统指定" readonly="readonly"/>
        </div>
        <div class="frm_div">
            <label class="frm_label text_info" id="lbl_category_name" for="input_category_name">分类名称</label>
            <input class="frm_input" id="input_category_name" type="text" maxlength="50" th:name="categoryName"/>
        </div>
    </div>
    <div class="details_div">
        <span class="details_title text_info">分类图片</span>
        <ul class="details_picList" id="category_list">

            <li class="details_picList_fileUpload">
                <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1528"
                     width="40" height="40">
                    <path d="M0 512C0 229.230208 229.805588 0 512 0 794.769792 0 1024 229.805588 1024 512 1024 794.769792 794.194412 1024 512 1024 229.230208 1024 0 794.194412 0 512Z"
                          p-id="1529" fill="#FF7874"></path>
                    <path d="M753.301333 490.666667l-219.946667 0L533.354667 270.741333c0-11.776-9.557333-21.333333-21.354667-21.333333-11.776 0-21.333333 9.536-21.333333 21.333333L490.666667 490.666667 270.72 490.666667c-11.776 0-21.333333 9.557333-21.333333 21.333333 0 11.797333 9.557333 21.354667 21.333333 21.354667L490.666667 533.354667l0 219.904c0 11.861333 9.536 21.376 21.333333 21.376 11.797333 0 21.354667-9.578667 21.354667-21.333333l0-219.946667 219.946667 0c11.754667 0 21.333333-9.557333 21.333333-21.354667C774.634667 500.224 765.077333 490.666667 753.301333 490.666667z"
                          p-id="1530" fill="#FFFFFF"></path>
                </svg>
                    <span>点击上传</span>
                    <input type="file" th:name="aaa"  class="form-control" id="zx_img" style="padding: 0px;"/>
                        <img id="img_preview" data-src="" src="" data-holder-rendered="true"
                             style="width: 100px; display: block;"/>
            </li>
        </ul>
        <span class="frm_error_msg" id="text_category_image_details_msg"></span>
    </div>
    <div class="details_div details_div_last">

        <span class="details_title text_info">属性列表</span>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <div class="br"></div>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <div class="br"></div>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <div class="br"></div>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <div class="br"></div>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <input class="frm_input" type="text"
               maxlength="50" placeholder="xxx" th:name="propertyName"/>
        <div class="br"></div>

        <div class="details_tools_div">
            <input class="frm_btn" id="btn_category_save" type="submit" value="保存"/>
            <input class="frm_btn frm_clear" id="btn_category_cancel" type="button" value="取消"
                   onclick="window.top.location.href='index.html'"/>
        </div>
    </div>
</form>
<!-- 模态框 -->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" aria-labelledby="modalDiv" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">您确定要删除分类图片吗？</div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btn-ok">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->
<div class="loader"></div>
<script src="/res/js/jquery-1.11.3.min.js"></script>
<script src="/res/js/bootstrap.min.js"></script>
<script src="/res/js/bootstrap-select.min.js"></script>
<script src="/res/js/defaults-zh_CN.min.js"></script>
<script src="/res/js/echarts.js"></script>
<script src="/res/js/base.js"></script>

<script>
    //上传图片选择文件改变后刷新预览图
    $("#zx_img").change(function (e) {
//获取目标文件
        var file = e.target.files || e.dataTransfer.files;
//如果目标文件存在
        if (file) {
//定义一个文件阅读器
            var reader = new FileReader();
//文件装载后将其显示在图片预览里
            reader.onload = function () {
                $("#img_preview").attr("src", this.result);
            }
//装载文件
            reader.readAsDataURL(file[0]);
        }
    });
</script>
</body>
</html>