<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/res/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_main.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_nav.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_foot_two.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_foot.css"/>
    <script src="/res/js/jquery-1.11.3.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/bootstrap-select.min.js"></script>
    <script src="/res/js/defaults-zh_CN.min.js"></script>
    <script src="/res/js/base.js"></script>
    <link href="/res/css/fore/fore_orderList.css" rel="stylesheet"/>
    <title>已买到的宝贝</title>
    <script>
        $(function () {
            $('#btn-ok').click(function () {
                $.ajax({
                    url: "/order/close/" + $("#order_id_hidden").val(),
                    type: "PUT",
                    data: null,
                    dataType: "json",
                    success: function (data) {
                        if (data.success !== true) {
                            alert("订单处理异常，请稍候再试！");
                        }
                        location.href = "/tmall/order/0/10";
                    },
                    beforeSend: function () {

                    },
                    error: function () {
                        alert("订单取消出现问题，请稍后再试！");
                        location.href = "/tmall/order/0/10";
                    }
                });
            });
        });

        function closeOrder(orderCode) {
            if (isNaN(orderCode) || orderCode === null) {
                return;
            }
            $("#order_id_hidden").val(orderCode);
            $('#modalDiv').modal();
        }

        function getPage(index) {
            var name = $(".tab_select").children("a").attr("name");
            if (name === undefined) {
                name = "";
            }
            location.href = "/order/" + index + "/10" + "?" + name;
        }
    </script>
</head>
<body>
<nav>
   <!--  <%@ include file="include/navigator.jsp" %> -->

    <script>
        $(function () {
            $(".quick_li").find("li").hover(
                function () {
                    $(this).find(".sn_menu").addClass("sn_menu_hover");
                    $(this).find(".quick_menu,.quick_qrcode,.quick_DirectPromoDiv,.quick_sitmap_div").css("display", "block");
                }, function () {
                    $(this).find(".sn_menu").removeClass("sn_menu_hover");
                    $(this).find(".quick_menu,.quick_qrcode,.quick_DirectPromoDiv,.quick_sitmap_div").css("display", "none");
                }
            );
        });
    </script>
    <div id="nav">
        <div class="nav_main">
            <p id="container_login">
                <div th:switch="user.suer_name">
            <p th:case="null">
                <em>喵，欢迎来天猫</em>
                <a href="/login">请登录</a>
                <a href="/register">免费注册</a>
            </p>

            <p th:case="*">
                <em>Hi，</em>
                <a href="/userDetails" class="userName"
                   target="_blank">${requestScope.user.user_name}</a>
                <a href="/login/logout">退出</a>
            </p>
        </div>
        <!-- <c:choose>
             <c:when test="${requestScope.user.user_name==null}">
                 <em>喵，欢迎来天猫</em>
                 <a href="/login">请登录</a>
                 <a href="/register">免费注册</a>
             </c:when>
             <c:otherwise>
                 <em>Hi，</em>
                 <a href="/userDetails" class="userName"
                    target="_blank">${requestScope.user.user_name}</a>
                 <a href="/login/logout">退出</a>
             </c:otherwise>
         </c:choose>-->
        </p>
        <ul class="quick_li">
            <li class="quick_li_MyTaobao">
                <div class="sn_menu">
                    <a href="/userDetails">我的淘宝<b></b></a>
                    <div class="quick_menu">
                        <a href="/order/0/10">已买到的宝贝</a>
                        <a href="#">已卖出的宝贝</a>
                    </div>
                </div>
            </li>
            <li class="quick_li_cart">
                <img src="/res/images/fore/WebsiteImage/buyCar.png"/>
                <a href="/cart">购物车</a>
            </li>
            <li class="quick_li_menuItem">
                <div class="sn_menu">
                    <a href="#">收藏夹<b></b></a>
                    <div class="quick_menu">
                        <a href="#">收藏的宝贝</a>
                        <a href="#">收藏的店铺</a>
                    </div>
                </div>
            </li>
            <li class="quick_li_separator"></li>
            <li class="quick_li_mobile">
                <img src="/res/images/fore/WebsiteImage/mobile.png"/>
                <a href="#" title="天猫无线">手机版</a>
                <div class="quick_qrcode">
                    <img src="/res/images/fore/WebsiteImage/qrcode.png"/>
                    <b></b>
                </div>
            </li>
            <li class="quick_home"><a href="">淘宝网</a></li>
            <li class="quick_DirectPromo">
                <div class="sn_menu">
                    <a href="#">商家支持<b></b></a>
                    <div class="quick_DirectPromoDiv">
                        <ul>
                            <li>
                                <h3>商家：</h3>
                                <a href="">商家中心</a>
                                <a href="">天猫规则</a>
                                <a href="">商家入驻</a>
                                <a href="">运营服务</a>
                                <a href="">商家品控</a>
                                <a href="">商家工具</a>
                                <a href="">天猫智库</a>
                                <a href="">喵言喵语</a>
                            </li>
                            <li>
                                <h3>帮助：</h3>
                                <a href="">帮助中心</a>
                                <a href="">问商友</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="quick_sitemap">
                <div class="sn_menu">
                    <a>网站导航<b></b></a>
                    <div class="quick_sitmap_div">
                        <div class="site-hot">
                            <h2>热点推荐<span>Hot</span></h2>
                            <ul>
                                <li><a href="">天猫超市</a></li>
                                <li><a href="">喵鲜生</a></li>
                                <li><a href="">科技新品</a></li>
                                <li><a href="">女装新品</a></li>
                                <li><a href="">酷玩街</a></li>
                                <li><a href="">内衣新品</a></li>
                                <li><a href="">试美妆</a></li>
                                <li><a href="">运动新品</a></li>
                                <li><a href="">时尚先生</a></li>
                                <li><a href="">精明妈咪</a></li>
                                <li><a href="">吃乐会</a></li>
                                <li><a href="">企业采购</a></li>
                                <li><a href="">会员积分</a></li>
                                <li><a href="">天猫国际</a></li>
                                <li><a href="">品质频道</a></li>
                            </ul>
                        </div>
                        <div class="site-market">
                            <h2>行业市场<span>Market</span></h2>
                            <ul>
                                <li><a href="">美妆</a></li>
                                <li><a href="">电器</a></li>
                                <li><a href="">女装</a></li>
                                <li><a href="">男装</a></li>
                                <li><a href="">女鞋</a></li>
                                <li><a href="">男鞋</a></li>
                                <li><a href="">内衣</a></li>
                                <li><a href="">箱包</a></li>
                                <li><a href="">运动</a></li>
                                <li><a href="">母婴</a></li>
                                <li><a href="">家装</a></li>
                                <li><a href="">医药</a></li>
                                <li><a href="">食品</a></li>
                                <li><a href="">配饰</a></li>
                                <li><a href="">汽车</a></li>
                            </ul>
                        </div>
                        <div class="site-brand">
                            <h2>品牌风尚<span>Brand</span></h2>
                            <ul>
                                <li><a href="">尚天猫</a></li>
                                <li><a href="">大牌街</a></li>
                                <li><a href="">潮牌街</a></li>
                                <li><a href="">天猫原创</a></li>
                                <li><a href="">什么牌子好</a></li>
                            </ul>
                        </div>
                        <div class="site-help">
                            <h2>服务指南<span>Help</span></h2>
                            <ul>
                                <li><a href="">帮助中心</a></li>
                                <li><a href="">品质保障</a></li>
                                <li><a href="">特色服务</a></li>
                                <li><a href="">7天退换货</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    <!--导航插入终止-->
    <div class="header">
        <div id="mallLogo">
            <a href=""><img
                    src="/res/images/fore/WebsiteImage/tmallLogoA.png"/></a>
        </div>
        <div class="shopSearchHeader">
            <form action="/product" method="get">
                <div class="shopSearchInput">
                    <input type="text" class="searchInput" name="product_name" placeholder="搜索 天猫 商品/品牌/店铺"
                           maxlength="50"/>
                    <input type="submit" value="搜 索" class="searchBtn"/>
                </div>
            </form>
            <ul>
                
                    <li>
                        <a href="/product?category_id=${category.category_id}">${category.category_name}</a>
                    </li>
                
            </ul>
        </div>
    </div>
</nav>
<div class="content">
    <ul class="tabs_ul">
        <li >class="tab_select"<a
                href="/order/0/10">所有订单</a></li>
        <li >class="tab_select"><a
                href="/order/0/10?status=0" name="status=0">待付款</a></li>
        <li >class="tab_select"><a
                href="/order/0/10?status=1" name="status=1">待发货</a></li>
        <li >class="tab_select"><a
                href="/order/0/10?status=2" name="status=2">待收货</a></li>
        <li >class="tab_select"><a
                href="/order/0/10?status=3" name="status=3">已完成</a></li>
    </ul>
   <!-- <%@include file="include/page.jsp" %>  -->
    <script>
        $(function () {
            $(".disabled>a,.pageThis>a").attr("onclick", null);
        })
    </script>
    <div id="pageDiv">
        <ul>
           <!-- <li data-name="firstPage" <c:if test="${!requestScope.pageUtil.isHasPrev()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(0)" aria-label="首页"><span
                    aria-hidden="true">&laquo;</span></a>
            </li>
            <li data-name="prevPage" <c:if test="${!requestScope.pageUtil.isHasPrev()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(${requestScope.pageUtil.index-1})" aria-label="上一页"><span
                    aria-hidden="true">&lsaquo;</span></a>
            </li>

            <c:forEach begin="1" end="${requestScope.pageUtil.getTotalPage()}" varStatus="status">
                <c:if test="${status.count-requestScope.pageUtil.index>=-5 && status.count-requestScope.pageUtil.index<=5}">
                    <li <c:if test="${status.count==requestScope.pageUtil.index+1}"> class="pageThis" </c:if>>
                    <a href="javascript:void(0)" onclick="getPage(${status.count-1})">${status.count}</a>
                    </li>
                </c:if>
            </c:forEach>

            <li data-name="nextPage" <c:if test="${!requestScope.pageUtil.isHasNext()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(${requestScope.pageUtil.index+1})" aria-label="下一页"><span
                    aria-hidden="true">&rsaquo;</span></a>
            </li>
            <li data-name="lastPage" <c:if test="${!requestScope.pageUtil.isHasNext()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(${requestScope.pageUtil.getTotalPage()-1})" aria-label="尾页">&raquo;</a>
            </li>-->
        </ul>
    </div>
    <!--page插入终止-->
    <table class="table_orderList">
        <thead>
        <tr>
            <th>宝贝</th>
            <th width="80px">单价</th>
            <th width="80px">数量</th>
            <th width="140px">实付款</th>
            <th width="140px">交易状态</th>
            <th width="140px">交易操作</th>
        </tr>
        </thead>
        
                    <tbody>
                    <tr class="tr_order_info">
                        <td colspan="6"><span class="span_pay_date">${productOrder.productOrder_pay_date}</span><span
                                class="span_order_code_title">订单号:</span><span
                                class="span_order_code">${productOrder.productOrder_code}</span></td>
                    </tr>
                   
                        <tr class="tr_orderItem_info">
                            <td><img class="orderItem_product_image"
                                     src="/res/images/item/productSinglePicture/${productOrderItem.productOrderItem_product.singleProductImageList[0].productImage_src}"
                                     style="width: 80px;height: 80px;"/><span class="orderItem_product_name"><a
                                    href="/product/${productOrderItem.productOrderItem_product.product_id}">${productOrderItem.productOrderItem_product.product_name}</a></span>
                            </td>
                            <td><span
                                    class="orderItem_product_price">￥${productOrderItem.productOrderItem_price/productOrderItem.productOrderItem_number}</span>
                            </td>
                            <td><span
                                    class="orderItem_product_number">${productOrderItem.productOrderItem_number}</span>
                            </td>
                            <td class="td_order_content"><span
                                    class="orderItem_product_realPrice">￥${productOrderItem.productOrderItem_price}</span>
                            </td>
                           
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <span class="span_order_status" title="等待买家付款">等待买家付款</span>
                                        </td>
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <a class="order_btn pay_btn"
                                               href="/order/pay/${productOrder.productOrder_code}">立即付款</a>
                                            <p class="order_close"><a class="order_close" href="javascript:void(0)"
                                                                      onclick="closeOrder('${productOrder.productOrder_code}')">取消订单</a>
                                            </p>
                                        </td>
                                   
                                   
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <span class="span_order_status" title="买家已付款，等待卖家发货">等待卖家发货</span>
                                        </td>
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <a class="order_btn delivery_btn"
                                               href="/order/delivery/${productOrder.productOrder_code}">提醒发货</a>
                                        </td>
                                   
                                  
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <span class="span_order_status" title="卖家已发货，等待买家确认">等待买家确认</span>
                                        </td>
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <a class="order_btn confirm_btn"
                                               href="/order/confirm/${productOrder.productOrder_code}">确认收货</a>
                                        </td>
                                    
                                   
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <span class="span_order_status" title="交易成功">交易成功</span>
                                        </td>
                                  
                                  
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                            <span class="td_error" title="交易关闭">交易关闭</span>
                                        </td>
                                        <td class="td_order_content"
                                            rowspan="${fn:length(requestScope.productOrderItemList)}">
                                        </td>
                                    
                                
                                <td class="td_order_content">
                                    <a class="order_btn review_btn"
                                       href="/review/${productOrderItem.productOrderItem_id}">评价</a>
                                </td>
                        </tr>  
                    </tbody>
                
                <tbody>
                <tr>
                    <td colspan="6" class="no_search_result"><img
                            src="/res/images/fore/WebsiteImage/T1MQ1cXhtiXXXXXXXX-78-120.png"/><span
                            class="error_msg">没有符合条件的宝贝，请尝试其他搜索条件。</span></td>
                </tr>
                </tbody>
           
       
    </table>
    <!-- <%@include file="include/page.jsp" %> -->
    <script>
        $(function () {
            $(".disabled>a,.pageThis>a").attr("onclick", null);
        })
    </script>
    <div id="pageDiv">
        <ul>
           <!-- <li data-name="firstPage" <c:if test="${!requestScope.pageUtil.isHasPrev()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(0)" aria-label="首页"><span
                    aria-hidden="true">&laquo;</span></a>
            </li>
            <li data-name="prevPage" <c:if test="${!requestScope.pageUtil.isHasPrev()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(${requestScope.pageUtil.index-1})" aria-label="上一页"><span
                    aria-hidden="true">&lsaquo;</span></a>
            </li>

            <c:forEach begin="1" end="${requestScope.pageUtil.getTotalPage()}" varStatus="status">
                <c:if test="${status.count-requestScope.pageUtil.index>=-5 && status.count-requestScope.pageUtil.index<=5}">
                    <li <c:if test="${status.count==requestScope.pageUtil.index+1}"> class="pageThis" </c:if>>
                    <a href="javascript:void(0)" onclick="getPage(${status.count-1})">${status.count}</a>
                    </li>
                </c:if>
            </c:forEach>

            <li data-name="nextPage" <c:if test="${!requestScope.pageUtil.isHasNext()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(${requestScope.pageUtil.index+1})" aria-label="下一页"><span
                    aria-hidden="true">&rsaquo;</span></a>
            </li>
            <li data-name="lastPage" <c:if test="${!requestScope.pageUtil.isHasNext()}">class="disabled" </c:if>>
            <a href="javascript:void(0)" onclick="getPage(${requestScope.pageUtil.getTotalPage()-1})" aria-label="尾页">&raquo;</a>
            </li>-->
        </ul>
    </div>
    <!--page插入终止-->
</div>

<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" aria-labelledby="modalDiv" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">您确定要取消该订单吗？取消订单后，不能恢复。</div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btn-ok">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">关闭</button>
                <input type="hidden" id="order_id_hidden"/>
            </div>
        </div>
      
    </div>
   
</div>
<!--<%@include file="inclfooter_two.html.jsp" %> -->
<div th:include="footer_two :: footer_two"></div>

<!--<%@include file="include/footer.jsp" %> -->
<div th:include="footer :: footer"></div>
</body>
</html>