<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/res/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_main.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_nav.css"/>
    <script src="/res/js/jquery-1.11.3.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/bootstrap-select.min.js"></script>
    <script src="/res/js/defaults-zh_CN.min.js"></script>
    <script src="/res/js/base.js"></script>
    <script src="/res/js/fore/fore_register.js"></script>
    <link href="/res/css/fore/fore_orderPaySuccess.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/res/css/fore/fore_foot_two.css"/>
    <link rel="stylesheet" href="/res/css/fore/fore_foot.css"/>
    <title>天猫tmall.com - 网上支付</title>
</head>
<body>
<nav>
    <!-- <%@ include file="include/navigator.jsp" %>  -->

    <script>
        $(function () {
            $(".quick_li").find("li").hover(
                function () {
                    $(this).find(".sn_menu").addClass("sn_menu_hover");
                    $(this).find(".quick_menu,.quick_qrcode,.quick_DirectPromoDiv,.quick_sitmap_div").css("display", "block");
                }, function () {
                    $(this).find(".sn_menu").removeClass("sn_menu_hover");
                    $(this).find(".quick_menu,.quick_qrcode,.quick_DirectPromoDiv,.quick_sitmap_div").css("display", "none");
                }
            );
        });
    </script>
    <div id="nav">
        <div class="nav_main">
            <p id="container_login">
                <div th:switch="user.suer_name">
            <p th:case="null">
                <em>喵，欢迎来天猫</em>
                <a href="/login">请登录</a>
                <a href="/register">免费注册</a>
            </p>

            <p th:case="*">
                <em>Hi，</em>
                <a href="/userDetails" class="userName"
                   target="_blank">${requestScope.user.user_name}</a>
                <a href="/login/logout">退出</a>
            </p>
        </div>
        <!-- <c:choose>
             <c:when test="${requestScope.user.user_name==null}">
                 <em>喵，欢迎来天猫</em>
                 <a href="/login">请登录</a>
                 <a href="/register">免费注册</a>
             </c:when>
             <c:otherwise>
                 <em>Hi，</em>
                 <a href="/userDetails" class="userName"
                    target="_blank">${requestScope.user.user_name}</a>
                 <a href="/login/logout">退出</a>
             </c:otherwise>
         </c:choose>-->
        </p>
        <ul class="quick_li">
            <li class="quick_li_MyTaobao">
                <div class="sn_menu">
                    <a href="/userDetails">我的淘宝<b></b></a>
                    <div class="quick_menu">
                        <a href="/order/0/10">已买到的宝贝</a>
                        <a href="#">已卖出的宝贝</a>
                    </div>
                </div>
            </li>
            <li class="quick_li_cart">
                <img src="/res/images/fore/WebsiteImage/buyCar.png"/>
                <a href="/cart">购物车</a>
            </li>
            <li class="quick_li_menuItem">
                <div class="sn_menu">
                    <a href="#">收藏夹<b></b></a>
                    <div class="quick_menu">
                        <a href="#">收藏的宝贝</a>
                        <a href="#">收藏的店铺</a>
                    </div>
                </div>
            </li>
            <li class="quick_li_separator"></li>
            <li class="quick_li_mobile">
                <img src="/res/images/fore/WebsiteImage/mobile.png"/>
                <a href="#" title="天猫无线">手机版</a>
                <div class="quick_qrcode">
                    <img src="/res/images/fore/WebsiteImage/qrcode.png"/>
                    <b></b>
                </div>
            </li>
            <li class="quick_home"><a href="">淘宝网</a></li>
            <li class="quick_DirectPromo">
                <div class="sn_menu">
                    <a href="#">商家支持<b></b></a>
                    <div class="quick_DirectPromoDiv">
                        <ul>
                            <li>
                                <h3>商家：</h3>
                                <a href="">商家中心</a>
                                <a href="">天猫规则</a>
                                <a href="">商家入驻</a>
                                <a href="">运营服务</a>
                                <a href="">商家品控</a>
                                <a href="">商家工具</a>
                                <a href="">天猫智库</a>
                                <a href="">喵言喵语</a>
                            </li>
                            <li>
                                <h3>帮助：</h3>
                                <a href="">帮助中心</a>
                                <a href="">问商友</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="quick_sitemap">
                <div class="sn_menu">
                    <a>网站导航<b></b></a>
                    <div class="quick_sitmap_div">
                        <div class="site-hot">
                            <h2>热点推荐<span>Hot</span></h2>
                            <ul>
                                <li><a href="">天猫超市</a></li>
                                <li><a href="">喵鲜生</a></li>
                                <li><a href="">科技新品</a></li>
                                <li><a href="">女装新品</a></li>
                                <li><a href="">酷玩街</a></li>
                                <li><a href="">内衣新品</a></li>
                                <li><a href="">试美妆</a></li>
                                <li><a href="">运动新品</a></li>
                                <li><a href="">时尚先生</a></li>
                                <li><a href="">精明妈咪</a></li>
                                <li><a href="">吃乐会</a></li>
                                <li><a href="">企业采购</a></li>
                                <li><a href="">会员积分</a></li>
                                <li><a href="">天猫国际</a></li>
                                <li><a href="">品质频道</a></li>
                            </ul>
                        </div>
                        <div class="site-market">
                            <h2>行业市场<span>Market</span></h2>
                            <ul>
                                <li><a href="">美妆</a></li>
                                <li><a href="">电器</a></li>
                                <li><a href="">女装</a></li>
                                <li><a href="">男装</a></li>
                                <li><a href="">女鞋</a></li>
                                <li><a href="">男鞋</a></li>
                                <li><a href="">内衣</a></li>
                                <li><a href="">箱包</a></li>
                                <li><a href="">运动</a></li>
                                <li><a href="">母婴</a></li>
                                <li><a href="">家装</a></li>
                                <li><a href="">医药</a></li>
                                <li><a href="">食品</a></li>
                                <li><a href="">配饰</a></li>
                                <li><a href="">汽车</a></li>
                            </ul>
                        </div>
                        <div class="site-brand">
                            <h2>品牌风尚<span>Brand</span></h2>
                            <ul>
                                <li><a href="">尚天猫</a></li>
                                <li><a href="">大牌街</a></li>
                                <li><a href="">潮牌街</a></li>
                                <li><a href="">天猫原创</a></li>
                                <li><a href="">什么牌子好</a></li>
                            </ul>
                        </div>
                        <div class="site-help">
                            <h2>服务指南<span>Help</span></h2>
                            <ul>
                                <li><a href="">帮助中心</a></li>
                                <li><a href="">品质保障</a></li>
                                <li><a href="">特色服务</a></li>
                                <li><a href="">7天退换货</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    <!--  ................... 导航插入终止出-->

    <div class="header">
        <div id="mallLogo">
            <a href=""><img
                    src="/res/images/fore/WebsiteImage/tmallLogoA.png"/></a>
        </div>
        <div class="shopSearchHeader">
            <form action="/product" method="get">
                <div class="shopSearchInput">
                    <input type="text" class="searchInput" name="product_name" placeholder="搜索 天猫 商品/品牌/店铺"
                           value="${requestScope.searchValue}" maxlength="50"/>
                    <input type="submit" value="搜 索" class="searchBtn"/>
                </div>
            </form>
            <ul>
                <!--<c:forEach items="${requestScope.categoryList}" var="category" varStatus="i">
                    <li>
                        <a href="/product?category_id=${category.category_id}">${category.category_name}</a>
                    </li>
                </c:forEach>-->
            </ul>
        </div>
    </div>
</nav>
<div class="content">
    <div class="content_main">
        <div id="J_AmountList">
            <h2>您已成功付款</h2>
            <div class="summary_pay_done">
                <ul>
                    <li>
                        收货地址：<span>${requestScope.productOrder.productOrder_detail_address} ${requestScope.productOrder.productOrder_receiver} ${requestScope.productOrder.productOrder_mobile}</span>
                    </li>
                    <li>实付款：<span><em>￥${requestScope.orderTotalPrice}</em></span></li>
                </ul>
            </div>
        </div>
        <div id="J_ButtonList">
            <span class="info">您可以 </span>
            <a class="J_MakePoint" href="/order/0/10">查看已买到的宝贝</a>
        </div>
        <div id="J_RemindList">
            <ul>
                <li class="alertLi">
                    <p>
                        <strong>安全提醒：</strong>
                        <span class="info">下单后，</span>
                        <span class="warn">用QQ给您发送链接办理退款的都是骗子</span>
                        <span class="info">！天猫不存在系统升级，订单异常等问题，谨防假冒客服电话诈骗！</span>
                    </p>
                </li>
            </ul>
        </div>
        <div id="J_Qrcode">
            <div class="mui-tm">
                <a target="_blank" href="http://pages.tmall.com/wow/portal/act/app-download">
                    <img class="type2-info"
                         src="/res/images/fore/WebsiteImage/TB1c1dwRFXXXXaMapXXXXXXXXXX-259-81.png"/>
                    <img class="type2-qrcode"
                         src="/res/images/fore/WebsiteImage/TB1A2aISXXXXXX4XXXXwu0bFXXX.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
<!--<%@include file="inclfooter_two.html.jsp" %> -->
<div th:include="footer_two :: footer_two"></div>

<!--<%@include file="include/footer.jsp" %> -->
<div th:include="footer :: footer"></div>


</body>
</html>