<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>修改</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="productName" required="required"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
        </div>
        <label class="layui-form-label">产品标签</label>
        <div class="layui-input-block">
            <input type="text" name="productTitle" required="required"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
        </div>
        <label class="layui-form-label">原价</label>
        <div class="layui-input-block">
            <input type="text" name="productPrice" required="required"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
        </div>
        <label class="layui-form-label">促销价</label>
        <div class="layui-input-block">
            <input type="text" name="productSalePrice" required="required"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
        </div>
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-block">
            <input type="text" name="productCreateNewDate" required="required"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
        </div>
        <label class="layui-form-label">上架状态</label>
        <div class="layui-input-block">
            <input type="text" name="typeName" required="required"  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="/layui/layui.js" charset="utf-8"></script>
<script>
//Demo
layui.use('form', function(){
var form = layui.form;

//监听提交
form.on('submit(formDemo)', function(data){
layer.msg(JSON.stringify(data.field));
return false;
});
});
</script>
</body>
</html>