<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<link rel="stylesheet" href="/res/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/res/css/bootstrap-select.min.css"/>
<link rel="stylesheet" href="/res/css/fore/fore_main.css"/>
<link rel="stylesheet" href="/res/css/fore/fore_foot.css"/>
<script src="/res/js/jquery-1.11.3.min.js"></script>
<script src="/res/js/bootstrap.min.js"></script>
<script src="/res/js/bootstrap-select.min.js"></script>
<script src="/res/js/defaults-zh_CN.min.js"></script>
<script src="/res/js/base.js"></script>
<head>
    <script src="/res/js/fore/fore_userDatiles.js"></script>
    <link href="/res/css/fore/fore_userDatiles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/res/css/fore/fore_nav.css"/>
    <title>天猫tmall.com - 个人中心</title>
    <style rel="stylesheet">
        #baseNavigator {
            padding: 22px 0;
            width: 1190px;
            height: 44px;
            margin: auto;
        }

        #baseNavigator img {
            width: 190px;
            margin-top: 8px;
        }

        #nav {
            width: auto;
            height: 32px;
            font-family: "Microsoft YaHei UI", Tahoma, serif;
            font-size: 12px;
            position: relative !important;
            background: #f2f2f2;
            z-index: 999;
            border-bottom: 1px solid #e5e5e5;
        }
    </style>
</head>
<body>
<nav>
    <script>
        $(function () {
            $(".quick_li").find("li").hover(
                function () {
                    $(this).find(".sn_menu").addClass("sn_menu_hover");
                    $(this).find(".quick_menu,.quick_qrcode,.quick_DirectPromoDiv,.quick_sitmap_div").css("display", "block");
                }, function () {
                    $(this).find(".sn_menu").removeClass("sn_menu_hover");
                    $(this).find(".quick_menu,.quick_qrcode,.quick_DirectPromoDiv,.quick_sitmap_div").css("display", "none");
                }
            );
        });
    </script>
    <div id="nav">
        <div class="nav_main">
            <p id="container_login">
                <div th:switch="user.suer_name">
            <p th:case="null">
                <em>喵，欢迎来天猫</em>
                <a href="/login">请登录</a>
                <a href="/register">免费注册</a>
            </p>

            <p th:case="*">
                <em>Hi，</em>
                <a href="/userDetails" class="userName"
                   target="_blank">${requestScope.user.user_name}</a>
                <a href="/login/logout">退出</a>
            </p>
        </div>
        <!-- <c:choose>
             <c:when test="${requestScope.user.user_name==null}">
                 <em>喵，欢迎来天猫</em>
                 <a href="/login">请登录</a>
                 <a href="/register">免费注册</a>
             </c:when>
             <c:otherwise>
                 <em>Hi，</em>
                 <a href="/userDetails" class="userName"
                    target="_blank">${requestScope.user.user_name}</a>
                 <a href="/login/logout">退出</a>
             </c:otherwise>
         </c:choose>-->
        </p>
        <ul class="quick_li">
            <li class="quick_li_MyTaobao">
                <div class="sn_menu">
                    <a href="/userDetails">我的淘宝<b></b></a>
                    <div class="quick_menu">
                        <a href="/order/0/10">已买到的宝贝</a>
                        <a href="#">已卖出的宝贝</a>
                    </div>
                </div>
            </li>
            <li class="quick_li_cart">
                <img src="/res/images/fore/WebsiteImage/buyCar.png"/>
                <a href="/cart">购物车</a>
            </li>
            <li class="quick_li_menuItem">
                <div class="sn_menu">
                    <a href="#">收藏夹<b></b></a>
                    <div class="quick_menu">
                        <a href="#">收藏的宝贝</a>
                        <a href="#">收藏的店铺</a>
                    </div>
                </div>
            </li>
            <li class="quick_li_separator"></li>
            <li class="quick_li_mobile">
                <img src="/res/images/fore/WebsiteImage/mobile.png"/>
                <a href="#" title="天猫无线">手机版</a>
                <div class="quick_qrcode">
                    <img src="/res/images/fore/WebsiteImage/qrcode.png"/>
                    <b></b>
                </div>
            </li>
            <li class="quick_home"><a href="">淘宝网</a></li>
            <li class="quick_DirectPromo">
                <div class="sn_menu">
                    <a href="#">商家支持<b></b></a>
                    <div class="quick_DirectPromoDiv">
                        <ul>
                            <li>
                                <h3>商家：</h3>
                                <a href="">商家中心</a>
                                <a href="">天猫规则</a>
                                <a href="">商家入驻</a>
                                <a href="">运营服务</a>
                                <a href="">商家品控</a>
                                <a href="">商家工具</a>
                                <a href="">天猫智库</a>
                                <a href="">喵言喵语</a>
                            </li>
                            <li>
                                <h3>帮助：</h3>
                                <a href="">帮助中心</a>
                                <a href="">问商友</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="quick_sitemap">
                <div class="sn_menu">
                    <a>网站导航<b></b></a>
                    <div class="quick_sitmap_div">
                        <div class="site-hot">
                            <h2>热点推荐<span>Hot</span></h2>
                            <ul>
                                <li><a href="">天猫超市</a></li>
                                <li><a href="">喵鲜生</a></li>
                                <li><a href="">科技新品</a></li>
                                <li><a href="">女装新品</a></li>
                                <li><a href="">酷玩街</a></li>
                                <li><a href="">内衣新品</a></li>
                                <li><a href="">试美妆</a></li>
                                <li><a href="">运动新品</a></li>
                                <li><a href="">时尚先生</a></li>
                                <li><a href="">精明妈咪</a></li>
                                <li><a href="">吃乐会</a></li>
                                <li><a href="">企业采购</a></li>
                                <li><a href="">会员积分</a></li>
                                <li><a href="">天猫国际</a></li>
                                <li><a href="">品质频道</a></li>
                            </ul>
                        </div>
                        <div class="site-market">
                            <h2>行业市场<span>Market</span></h2>
                            <ul>
                                <li><a href="">美妆</a></li>
                                <li><a href="">电器</a></li>
                                <li><a href="">女装</a></li>
                                <li><a href="">男装</a></li>
                                <li><a href="">女鞋</a></li>
                                <li><a href="">男鞋</a></li>
                                <li><a href="">内衣</a></li>
                                <li><a href="">箱包</a></li>
                                <li><a href="">运动</a></li>
                                <li><a href="">母婴</a></li>
                                <li><a href="">家装</a></li>
                                <li><a href="">医药</a></li>
                                <li><a href="">食品</a></li>
                                <li><a href="">配饰</a></li>
                                <li><a href="">汽车</a></li>
                            </ul>
                        </div>
                        <div class="site-brand">
                            <h2>品牌风尚<span>Brand</span></h2>
                            <ul>
                                <li><a href="">尚天猫</a></li>
                                <li><a href="">大牌街</a></li>
                                <li><a href="">潮牌街</a></li>
                                <li><a href="">天猫原创</a></li>
                                <li><a href="">什么牌子好</a></li>
                            </ul>
                        </div>
                        <div class="site-help">
                            <h2>服务指南<span>Help</span></h2>
                            <ul>
                                <li><a href="">帮助中心</a></li>
                                <li><a href="">品质保障</a></li>
                                <li><a href="">特色服务</a></li>
                                <li><a href="">7天退换货</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
   <!-- <%@ include file="include/navigator.html" %>-->
    <div class="header">
        <div id="mallLogo">
            <a href=""><img
                    src="/res/images/fore/WebsiteImage/tmallLogoA.png"/><span
                    class="span_tmallRegister">个人中心</span></a>
        </div>
    </div>
</nav>
<div class="content">
    <div class="mt-menu" id="J_MtSideMenu">
        <div class="mt-avatar">
            <img src="/res/images/item/userProfilePicture/${requestScope.user.user_profile_picture_src}"
                 onerror="this.src='/res/images/admin/loginPage/default_profile_picture-128x128.png'"
                 width="128px" height="128px"/>
        </div>
        <div class="mt-menu-tree">
            <p>个人信息</p>
        </div>
    </div>
    <div class="sns-config" id="profile">
        <div class="sns-tab tab-app">
            <span>个人资料</span>
        </div>
        <div class="sns-main">
            <div id="tips-box">
                <label class="font_we">亲爱的</label>
                <b>${requestScope.user.user_name}</b>，
                <label  class="font_we">填写真实的资料，有助于好友找到你哦。</label>
            </div>
            <form action="/user/update" method="post" id="register_form">
                <div class="form-item">
                    <label class="form-label tsl">当前头像：</label>
                    <ul class="details_picList" id="product_single_list">
                        <li class="details_picList_fileUpload">
                            <img src="/res/images/item/userProfilePicture/${requestScope.user.user_profile_picture_src}"
                                 onerror="this.src='/res/images/admin/loginPage/default_profile_picture-128x128.png'"
                                 id="header_image" width="128px" height="128px"/>
                            <input type="file" onchange="uploadImage(this)" id="user_profile_picture_src" accept="image/*"/>
                            <input name="user_profile_picture_src" id="user_profile_picture_src_value" type="hidden"/>
                        </li>
                    </ul>
                </div>
                <div class="form-item">
                    <label class="form-label tsl">昵称：</label>
                    <input name="user_nickname" value="${requestScope.user.user_nickname}" id="user_nickname"
                           class="form-text err-input" maxlength="20"/>
                    <span class="form_span"></span>
                </div>
                <div class="form-item">
                    <label class="form-label tsl">真实姓名：</label>
                    <input name="user_realname" value="${requestScope.user.user_realname}" id="user_realname"
                           class="form-text err-input" maxlength="20"/>
                    <span class="form_span"></span>
                </div>
                <div class="form-item">
                    <label class="form-label tsl">登录密码：</label>
                    <input name="user_password" type="password" id="user_password" class="form-text err-input"
                           placeholder="请设置登录密码" maxlength="20"/>
                    <span class="form_span"></span>
                </div>
                <div class="form-item">
                    <label class="form-label tsl">确认密码：</label>
                    <input name="user_password_one" type="password" id="user_password_one" class="form-text err-input"
                           placeholder="请再次输入你的密码" maxlength="20"/>
                    <span class="form_span"></span>
                </div>
                <div class="form-item">
                    <label class="form-label tsl">性别：</label>
                    <input name="user_gender" type="radio" id="form_radion" value="0"/>
                          <!-- <c:if test="${requestScope.user.user_gender == 0}">checked="checked"</c:if>/>--><span
                        class="radio_value">男</span>
                    <input name="user_gender" type="radio" id="form_radions" value="1"/>
                          <!-- <c:if test="${requestScope.user.user_gender == 1}">checked="checked"</c:if>/>--><span
                        class="radio_value">女</span>
                </div>
                <div class="form-item">
                    <label class="form-label tsl">生日：</label>
                    <input type="date" name="user_birthday" id="user_birthday" class="form-text err-input"
                           value="${requestScope.user.user_birthday}" maxlength="20"/>
                    <span class="form_span"></span>
                </div>
                <div class="form-item last-item">
                    <label class="form-label tsl">居住地址：</label>
                    <select class="selectpicker" id="select_user_address_province" data-size="8" data-live-search="true">
                     <!--   <c:forEach items="${requestScope.addressList}" var="address" varStatus="i">
                            <option value="${address.address_areaId}"
                                    <c:if test="${requestScope.addressId==address.address_areaId}">selected</c:if>>${address.address_name}</option>
                        </c:forEach>
                    </select>
                    <select class="selectpicker" id="select_user_address_city" data-size="8" data-live-search="true">
                        <c:forEach items="${requestScope.cityList}" var="address" varStatus="i">
                            <option value="${address.address_areaId}"
                                    <c:if test="${requestScope.cityAddressId==address.address_areaId}">selected</c:if>>${address.address_name}</option>
                        </c:forEach>
                    </select>
                    <select name="user_address" class="selectpicker" id="select_user_address_district" data-size="8" data-live-search="true">
                        <c:forEach items="${requestScope.districtList}" var="address" varStatus="i">
                            <option value="${address.address_areaId}"
                                    <c:if test="${requestScope.districtAddressId==address.address_areaId}">selected</c:if>>${address.address_name}</option>
                        </c:forEach>-->
                    </select>
                </div>
                <div class="form-item">
                    <input type="submit" id="register_sub" class="btns btn-large tsl" value="提 交"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="footer::footer"></div>
 <!--<%@include file="include/footer.html" %> -->
<link href="/res/css/fore/fore_foot_special.css" rel="stylesheet"/>
</body>
</html>
