<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.qphone.pojo.Admin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_nickname" jdbcType="VARCHAR" property="adminNickname" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="admin_profile_picture_src" jdbcType="VARCHAR" property="adminProfilePictureSrc" />
  </resultMap>

  <sql id="Base_Column_List">
    admin_id, admin_name, admin_nickname, admin_password, admin_profile_picture_src
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qphone.pojo.Admin">
    insert into admin (admin_id, admin_name, admin_nickname, 
      admin_password, admin_profile_picture_src)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminNickname,jdbcType=VARCHAR}, 
      #{adminPassword,jdbcType=VARCHAR}, #{adminProfilePictureSrc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qphone.pojo.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminNickname != null">
        admin_nickname,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="adminProfilePictureSrc != null">
        admin_profile_picture_src,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminNickname != null">
        #{adminNickname,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminProfilePictureSrc != null">
        #{adminProfilePictureSrc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qphone.pojo.Admin">
    update admin
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminNickname != null">
        admin_nickname = #{adminNickname,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminProfilePictureSrc != null">
        admin_profile_picture_src = #{adminProfilePictureSrc,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qphone.pojo.Admin">
    update admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_nickname = #{adminNickname,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_profile_picture_src = #{adminProfilePictureSrc,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>