<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.qphone.pojo.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_title" jdbcType="VARCHAR" property="productTitle" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_sale_price" jdbcType="DECIMAL" property="productSalePrice" />
    <result column="product_create_date" jdbcType="TIMESTAMP" property="productCreateDate" />
    <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId" />
    <result column="product_isEnabled" jdbcType="BIT" property="productIsenabled" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, product_title, product_price, product_sale_price, product_create_date, 
    product_category_id, product_isEnabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qphone.pojo.Product">
    insert into product (product_id, product_name, product_title, 
      product_price, product_sale_price, product_create_date, 
      product_category_id, product_isEnabled)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productTitle,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=DECIMAL}, #{productSalePrice,jdbcType=DECIMAL}, #{productCreateDate,jdbcType=TIMESTAMP}, 
      #{productCategoryId,jdbcType=INTEGER}, #{productIsenabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.qphone.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productTitle != null">
        product_title,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productSalePrice != null">
        product_sale_price,
      </if>
      <if test="productCreateDate != null">
        product_create_date,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="productIsenabled != null">
        product_isEnabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productTitle != null">
        #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productSalePrice != null">
        #{productSalePrice,jdbcType=DECIMAL},
      </if>
      <if test="productCreateDate != null">
        #{productCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productIsenabled != null">
        #{productIsenabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qphone.pojo.Product">
    update product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productTitle != null">
        product_title = #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productSalePrice != null">
        product_sale_price = #{productSalePrice,jdbcType=DECIMAL},
      </if>
      <if test="productCreateDate != null">
        product_create_date = #{productCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productIsenabled != null">
        product_isEnabled = #{productIsenabled,jdbcType=BIT},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qphone.pojo.Product">
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_title = #{productTitle,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_sale_price = #{productSalePrice,jdbcType=DECIMAL},
      product_create_date = #{productCreateDate,jdbcType=TIMESTAMP},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      product_isEnabled = #{productIsenabled,jdbcType=BIT}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>